*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}
.container{
    width: 80%;
    height: 900px;
    overflow: hidden;
    justify-content: center;
    margin: auto;
}
.log-out{
    padding: 15px;
    text-align: end;
}
.log-out button{
    padding: 11px 30px;
    border-radius: 5px;
    border: none;
    background-color: #F86262;
    font-size: 16px;
    color: white;

}
.paragraph{
    padding: 20px;
    text-align: center;
}
.card-weather{
    border: solid 1px #DEDADA;
    border-radius: 10px;
    width: 578px;
    height: 359px;
    margin: auto;
}
.date{
    margin-top: 5%;
    font-size: 16px;
}
.name{
    font-weight: bold;
    font-size: 24px;

}
.temperature{
    font-size: 96px;
    margin-top: 30%;
    font-weight: bold;
}
.card-all{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
.know{
    font-size: 24px;
    color: #676060;
    margin-top: 5%;
}
.card-condition{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-top: 5%;
    border-bottom: solid 1px #CCCCCC;
    line-height: 3;
    height: 210px;
    
}
.location{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    margin-top: 5%;

}
.location-value{
    text-align: right;
}
.share-Reaction{
    margin-top: 5%;
    text-align: center;
}
.btn{
    padding: 10px 15px;
    background-color: #6283F8;
    border-radius: 10px;
    color: white;
    border: none;
    font-size: 16px;
}
.future{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 5%;
}